.left-element {
    display: block;
    text-align: center;
    margin: 20px;
}

#left-side {
    float: left;
    margin-top: 100px;
    width: 40%;
}

.numbers {
    width: 75%;
    background-color: #72412f;
}

.col {
    padding: 5px;
}

.graphs {
    display: flex;
    width: 400px;
    height: 400px;
}