body {
    background-image: url('./hatter.jpg');
  }
.left-element {
    display: block;
    text-align: center;
    margin: 20px;
}

#left-side {
    float: left;
/*     margin-top: 100px; */
    width: 50%;
    margin-left: 150px;
}

#answer-box {
    width: 100px;
    display: flex;
    margin-left: 40%;
}

#chosen-value {
    margin-left: 40%;
    font-weight: bold;
}

.numbers {
    width: 75%;
    background-color: #72412f;
}

.col {
    padding: 5px;
}

.graphs {
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;  
    margin-top: 100px;
}

.next{
    margin-top:-100px;
    margin-left: 95%;
}

.right-side{
    float: left;
    float: none; width: auto;
}

.container{
    background-color: rgb(227,218,201);
    border-radius: 10px;
}

#container{
    background-color: rgba(209,190,168,0.9);
    height: 700px;
    /* overflow: hidden;  */
}